:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 5px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin: 5em;
  max-width: 100%;
  min-height: 100vh;
}

header {
  text-align: center;

  h1 {
    font-size: 8em;
  }

  p {
    font-size: 3em;
  }
}

#newTaskForm {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;

  input[type="text"] {
    font-size: 3.2em;
    width: auto;
  }

  input[type="submit"] {
    align-self: flex-end;
    max-width: 100px;
  }

  label {
    font-size: 3em;
  }
}

#tasksList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    align-items: center;
    display: flex;
    gap: 1em;
    max-width: 100%;

    label {
      display: block;
      flex-grow: 1;
      font-size: 3em;
    }

    button {
      min-width: 7em;
      max-width: 7em;
    }
  }
}
